# ====== DEV (SQLite, sin instalar nada) ======
DATABASE_URL="file:./dev.db"

# ====== PRODUCCIÓN (PostgreSQL) ======
# DATABASE_URL="postgresql://user:password@localhost:5432/paneladmin?schema=public"

PORT=4000
NODE_ENV=development

JWT_SECRET="cambia-esto-por-una-clave-muy-segura"
JWT_EXPIRES_IN="7d"

CORS_ORIGIN="http://localhost:5173"

UPLOAD_DIR="uploads"
MAX_UPLOAD_SIZE_MB=5
