DATABASE_URL="postgresql://postgres.zfmhuclauriuicwhluaq:[YOUR-PASSWORD]@aws-1-us-west-2.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.zfmhuclauriuicwhluaq:[YOUR-PASSWORD]@aws-1-us-west-2.pooler.supabase.com:5432/postgres"
SUPABASE_URL="https://zfmhuclauriuicwhluaq.supabase.co"
SUPABASE_SERVICE_ROLE_KEY="[YOUR-SERVICE-ROLE-KEY]"
SUPABASE_STORAGE_BUCKET="tiendas"

PORT=4000
NODE_ENV=production

JWT_SECRET="cambia-esto-por-una-clave-muy-segura"
JWT_EXPIRES_IN="7d"

CORS_ORIGIN="http://localhost:5173"

UPLOAD_DIR="uploads"
MAX_UPLOAD_SIZE_MB=5
